/**********************************************/
/*              /\             /\             */
/*             |`\\_,--="=--,_//`|            */
/*             \ ."  :'. .':  ". /            */
/*            ==)  _ :  '  : _  (==           */
/*              |>/O\   _   /O\<|             */
/*              | \-"~` _ `~"-/ |   jgs       */
/*             >|`===. \_/ .===`|<            */
/*       .-"-.   \==='  |  '===/   .-"-.      */
/* .----{'. '`}---\,  .-'-.  ,/---{.'. '}---. */
/*  )   `"---"`     `~-===-~`     `"---"`  (  */
/* (  Portfolio website made by Jon Tofant  ) */
/*  )                                      (  */
/* '----------------------------------------' */
/**********************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;500&display=swap");
/*fonts*/
/*cardRadius*/
/*global configuration*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%; }

.sectionTitle {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 2rem;
  color: #362E38;
  text-align: center; }

/*************/
/* hero shot */
/*************/
.heroShot {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 80% 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-template-areas: "links social" "quote ."; }

.navBar {
  background: #DDB967; }

.name {
  grid-area: header;
  background: #D9B359;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem; }

.socialMedia {
  grid-area: social;
  display: flex;
  margin-top: 2rem;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 1; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 300; }

a {
  text-decoration: none; }

.links {
  text-decoration: none;
  color: #362E38;
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  border-bottom: 1px solid #362E38; }

.pages {
  padding: 1rem; }
  .pages li {
    margin-top: 2rem; }

.quote {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem;
  border-bottom-right-radius: 20px;
  grid-area: quote;
  background: #DDB967; }
  .quote li {
    margin-top: 1rem; }

/********************/
/* Projects section */
/********************/
.projects {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 0.5rem;
  place-items: center; }

.circle {
  width: 90vw;
  height: 90vw;
  border-radius: 50%;
  background: #D0E37F;
  display: grid;
  place-items: center;
  grid-row: 1; }

.projectImage {
  max-width: 100%;
  padding: 1rem;
  border-radius: 40px; }

.cardOne {
  grid-row: 2; }
