$colorParagraph: #362E38;
$colorTitle: #081C15;
$colorBrown1: #D9B359;
$colorBrown2: #DDB967;
$colorGreen1: #D0E37F;
$colorWhite1: #ffffff;
/*fonts*/
$fontRoboto: 'Roboto Mono', monospace;
/*cardRadius*/
$cardRadius:40px;
