/**********************************************/
/*              /\             /\             */
/*             |`\\_,--="=--,_//`|            */
/*             \ ."  :'. .':  ". /            */
/*            ==)  _ :  '  : _  (==           */
/*              |>/O\   _   /O\<|             */
/*              | \-"~` _ `~"-/ |   jgs       */
/*             >|`===. \_/ .===`|<            */
/*       .-"-.   \==='  |  '===/   .-"-.      */
/* .----{'. '`}---\,  .-'-.  ,/---{.'. '}---. */
/*  )   `"---"`     `~-===-~`     `"---"`  (  */
/* (  Portfolio website made by Jon Tofant  ) */
/*  )                                      (  */
/* '----------------------------------------' */
/**********************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;500&display=swap');
@import 'variables';

/*global configuration*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.sectionTitle{
    font-family: $fontRoboto;
    font-weight: 500;
    font-size: 2rem;
    color: $colorParagraph;
    text-align: center;
}

/*************/
/* hero shot */
/*************/

.blockDecorationDesktop{
    display: none;
}

.blockDecorationTablet{
    display:none;
}

.blockDecorationMobile{
    position: absolute;
    right: 3.49px;
    float: right;
    top: 30vh;
}

.heroShot{
    height:100vh;
    display: grid;
    margin-right: 0px;
    grid-template-columns: 1fr auto;
    grid-auto-rows:auto; 
    grid-template-areas: 
    "header social"
    "links social"
    "quote quote";
}

header{
    margin: 0;
    padding: 0;
    height: 70vh;
    background:$colorBrown2;
    border-bottom-right-radius: 30px;
}

.name{
    grid-area:header;
    background: $colorBrown1;
    font-family:$fontRoboto;
    font-weight:bold;
    padding:1rem;
    font-size: 2rem;
}

.socialMedia{
    grid-area: social;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content:space-between;
    height: 35vh;
    max-width: 300px;
    padding:1rem;
    z-index: 1;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family:$fontRoboto;
    font-weight: 300;
}

a{
    text-decoration:none;
}

.links{
    text-decoration: none;
    color: $colorParagraph;
    font-size: 1.5rem;
    font-family: $fontRoboto;
    font-weight:300;
    border-bottom:1px solid $colorParagraph;
}


.pages{
    padding:1rem;

    li{
        margin-top: 2rem;
    }
}

.quote{
    grid-area: quote;
    display:grid;
    place-items: center;
    margin-top: -30vh;
    li{
        margin-top: 1rem;
    }
}

/********************/
/* Projects section */
/********************/

.circle{
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background:$colorGreen1;
    display:grid;
    place-items: center;
}
